<ion-view view-title="Maintenace Schedule">
  <ion-content class="padding welcome-content">
    <h2>Your Vehicle</h2>
    <div class="row responsive-sm">
      <div class="col">

      <ul class="list">
        <li class="item">
          {{vehicle.make}}
        </li>
        <li class="item">
          {{vehicle.model}}
        </li>
        <li class="item">
          {{vehicle.year}}
        </li>
      </ul>
            
        <!-- <button class="button button-block button-assertive" ng-click="toCarSelection()">
          Continue
        </button> -->
      </div>
    </div>
  </ion-content>
</ion-view>